<?php

$jsmodule = array(
'name'     	=> 'xcrisearch_standard_functions',
'fullpath' 	=> '/blocks/xcrisearch/views/js/lib.js',
'requires'  	=> array('yahoo','event','dom','element','connection')
);

$PAGE->requires->js_init_call('M.xcrisearch_standard_functions.init', null, true, $jsmodule);
$csslink = new moodle_url($CFG->wwwroot.'/blocks/xcrisearch/css/redmond/jquery-ui-1.10.0.custom.css');
$PAGE->requires->css($csslink);
$js1 = new moodle_url($CFG->wwwroot.'/blocks/xcrisearch/js/jquery-1.9.0.js');
$js2 = new moodle_url($CFG->wwwroot.'/blocks/xcrisearch/js/jquery-ui-1.10.0.custom.js');
$jsFunction = new moodle_url($CFG->wwwroot.'/blocks/xcrisearch/js/function.js');
$PAGE->requires->js($js1);
$PAGE->requires->js($js2);
$PAGE->requires->js($jsFunction);
echo $OUTPUT->header();
?>
<div class="xcrisearch">
    <?php
    echo $OUTPUT->heading(get_string('pagetitle','block_xcrisearch'));
    ?>
    <div>
    <?php
    //render the form
    $mform->display();
    ?>
    </div>
    <div>
        <?php
            if (!empty($courses))   {
                //    $flextable->print_html();
        ?>
        <!--<div id="accordion">
            <h3>Title >> Subject >> Identifier</h3>
            <div></div>
        </div>-->
        <!--<?php echo get_string('totalrecordquantity','block_xcrisearch').$endrecord;?>-->
        <div id="accordion">
            <!--<h3><?php echo get_string('title','block_xcrisearch'); ?> <?php echo get_string('subject','block_xcrisearch'); ?> <?php echo get_string('identifier','block_xcrisearch'); ?></h3>
            <div></div>-->
            <?php for($i=$startrecord;$i < $endrecord; $i++)   {
                if (!empty($courses[$i]))   {?>
            <h5>
                <?php echo $i+1; ?> >>
                <?php echo $courses[$i]->title; ?> >>
                <?php echo $courses[$i]->subject; ?> >>
                <?php echo $courses[$i]->identifier; ?> >>
            </h5>
            <div>
                <?php echo (!empty($courses[$i]->abstract)) ? $courses[$i]->abstract : $courses[$i]->description; ?>
                <p></p>
                <?php $viewButton = "<input type='button' value='View Details' name='view'>"; ?>
                <a href="<?php echo $CFG->wwwroot; ?>/blocks/xcrisearch/actions/viewcourse.php?page=<?php $pagenum; ?>&course_id=<?php echo $course_id?>&searchterm=<?php echo $searchterm; ?>&id=<?php echo $courses[$i]->identifier;?>&title=<?php echo urlencode($courses[$i]->title);?>"><?php echo $viewButton; ?></a>
                <!--<a href="<?php echo $CFG->wwwroot; ?>/blocks/xcrisearch/actions/viewcourse.php?page=<?php $pagenum; ?>&course_id=<?php echo $course_id?>&searchterm=<?php echo $searchterm; ?>&id=<?php echo $courses[$i]->identifier;?>&title=<?php echo urlencode($courses[$i]->title);?>"><?php echo get_string('view','block_xcrisearch'); ?></a>-->
            </div>
            <?php
                    }
                }
            ?>
           
        </div>


        <?php
            }   else if (!empty($search_carried_out))  {
                echo get_string('noresultsfound','block_xcrisearch');
            }
        ?>
    </div>
    <?php
        if ($pagenum > 0) {
            $prevpagenum = $pagenum-1
    ?>
    <!--<a href='<?php echo $CFG->wwwroot."/blocks/xcrisearch/actions/searchpage.php?course_id={$course_id}&pagenum={$prevpagenum}&searchterm={$searchterm}"; ?>'><?php echo get_string('previous','block_xcrisearch'); ?></a>-->
    <?php
        }
    ?>

    <?php
        if ($pagenum < $pages-1 ) {
            $nextpagenum = $pagenum+1;
    ?>
    <!--<a href='<?php echo $CFG->wwwroot."/blocks/xcrisearch/actions/searchpage.php?course_id={$course_id}&pagenum={$nextpagenum}&searchterm={$searchterm}"; ?>'><?php echo get_string('next','block_xcrisearch'); ?></a>-->
    <?php
        }
    ?>

</div>
<?php
echo $OUTPUT->footer();
?>

